<mat-dialog-content>
  <h2>Employee Details</h2>
  <div class="division">
  <table class="demo-table">
    <tr>
      <th>Username</th>
      <td>{{ employee.username }}</td>
    </tr>
    <tr>
      <th>EmployeeId</th>
      <td>{{ employee.employeeId }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td><p>{{ employee.firstname + " " + employee.lastname}}</p></td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ employee.email }}</td>
    </tr>
    <tr>
      <tr>
        <th>Leave Balance</th>
        <td>{{ employee.leaveBalance }}</td>
      </tr>
      <tr>
      <th>Designation</th>
      <td>{{ employee.designation }}</td>
    </tr>
    <tr>
      <th>Contact</th>
      <td>{{ employee.contact }}</td>
    </tr>
    <tr>
      <th>Date Of Joining</th>
      <td>{{ dateOfJoining }}</td>
    </tr>
    <tr>
      <th>Gender</th>
      <td>{{ employee.gender}}</td>
    </tr>
    <tr>
    <tr>
      <th>Address</th>
      <td>{{ employee.address }}</td>
    </tr>
    <tr>
      <th>City</th>
      <td>{{ employee.city }}</td>
    </tr>
    <tr>
      <th>State</th>
      <td>{{ employee.state }}</td>
    </tr>
  </table> 
</div>
</mat-dialog-content>
  <!--</div>
</mat-dialog-content> -->

<!-- <table mat-table class="mat-elevation-z8 demo-table">
   Position Column 
  <ng-container matColumnDef="demo-username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{employee.username}} </td>
  </ng-container>

   Name Column 
  <ng-container matColumnDef="demo-employeeId">
    <th mat-header-cell *matHeaderCellDef> EmployeeId </th>
    <td mat-cell *matCellDef="let element"> {{employee.employeeId}} </td>
  </ng-container>

   Weight Column 
  <ng-container matColumnDef="demo-name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{employee.firstname}} </td>
  </ng-container>
  </table> -->