<div class="bootstrap-wrapper">
    <div class="container mt">

        <div class="row">

            <div class="col-md-6 offset-md-3">

                <div class="container text-center">
                    <img class="img-fluid" src="/assets/pass.jpg" style="width: 100px;" alt="Password">
                </div>
                <h1 class="text-center">Admin Login !!</h1>

                <!--Creating Form Filed-->
                <form (ngSubmit)="onSubmit()">

                    <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input 
                    [(ngModel)]="credentials.username"
                    name="username"
                    required type="text" matInput />
                </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                        [(ngModel)]="credentials.password"
                        name="password"
                        required
                        type="password" matInput/>
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
