<mat-dialog-content>
    <div>
      <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()" class="example-form">
        <h3>Enter Details!!</h3>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Employee Username</mat-label>
                <input name="username" formControlName="username" matInput>
              </mat-form-field>
            </td>
          </tr>
          <tr>
  
            <td>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Start Date</mat-label>
                <input matInput name="startDate" formControlName="startDate" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>End Date</mat-label>
                <input matInput name="endDate" formControlName="endDate" [matDatepicker]="pickerEndDate">
                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerEndDate></mat-datepicker>
              </mat-form-field>

            </td>
          </tr>
  
          <tr>
        
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Description</mat-label>
              <input type="text" name="description" formControlName="discription" maxlength="10" matInput>
            </mat-form-field>
          </tr>
       
          <section>
            <div class="example-label"></div>
            <div class="example-button-row">
              <button mat-dialog-close type="submit" color="primary" mat-raised-button>Submit</button>
            </div>
          </section>
  
        </table>
  
      </form>
    </div>
  </mat-dialog-content>
  