
<mat-dialog-content>
  
    <div>
      <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()" class="example-form">
        
        <!-- <h3>Enter Details!!</h3> -->
        <mat-toolbar color="primary">
       <mat-toolbar-row><span> Apply For Leave</span>
        <mat-icon [mat-dialog-close]="true" style="margin-left: 55%;margin-top: 5px;width:10%;">close</mat-icon>
      
      </mat-toolbar-row>
     
      </mat-toolbar>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" style="width: 100%;"  appearance="outline">
                <mat-label>Employee Id</mat-label>
                <input name="username" [value]="empId" matInput disabled>
                
              </mat-form-field>
            </td>
          </tr>
          <tr>
  
            <td>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Start Date</mat-label>
                <input matInput type="date" name="startDate" formControlName="startDate" >
                <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> -->
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>End Date</mat-label>
                <input matInput type="date"name="endDate" formControlName="endDate">
                <!-- <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerEndDate></mat-datepicker> -->
              </mat-form-field>

            </td>
          </tr>
  
          <tr>
            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
              <mat-label>Leave Reason</mat-label>
              <textarea name="description" formControlName="discription"  matInput></textarea>
            </mat-form-field> 
          </tr>
       
          <section>
            <div class="example-label"></div>
            <div class="example-button-row">
              <button mat-dialog-close type="submit" color="primary" mat-raised-button>Submit</button>
            </div>
          </section>
  
        </table>
  
      </form>
    </div>
  </mat-dialog-content>
  